<!DOCTYPE html>
<html>
<head>
	<title>Drake's Advice</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="header">
		<!-- <a href="" class="buttonlink"> -->
			<div class="aboutheader">
				ABOUT
			</div>
		<!-- </a> -->
	</div>
	<div class="content">
		<div class="response">
			Created in honor of <a href="http://pigeonsandplanes.com/2013/09/drake-lyrics-text/#item9_263254">"Here's What Happens When You Text Drake Lyrics To Your Ex"</a>
			<br>Facebook NorCal Regional Hackathon
			<br>October 11th - 12th, 2013
			<br>Hacked with love,
			<br>Albert Hu
			<br>Matt Chiang
			<br>Tim Evans
		</div>
	</div>
	<div class="footer">
		<!-- <hr class="line"> -->
		<p class="aboutlink"> <a href="/" class="buttonlink">RETURN</a></p>
	</div>
</body>
</html>