<!DOCTYPE html>
<html>
<head>
	<title>Drake's Advice</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="header">
		<a href="" class="buttonlink">
			<div class="button">
				WHAT SHOULD I TEXT MY EX?
			</div>
		</a>
	</div>
	<div class="content">
		<div class="response">
			{{ line }}
			<span class="songtitle"><br>{{ title }}</span>
		</div>
	</div>
	<div class="footer">
		<!-- <hr class="line"> -->
		<p class="aboutlink"> <a href="about" class="buttonlink">ABOUT</a></p>
	</div>
	<iframe class="spotify" src="https://embed.spotify.com/?uri={{URI}}" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
</body>
</html>